<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ww.vhrserver.mapper.JoblevelMapper">
  <resultMap id="BaseResultMap" type="org.ww.vhrserver.model.Joblevel">
    <!--@mbg.generated-->
    <!--@Table joblevel-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="titleLevel" jdbcType="OTHER" property="titlelevel" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, titleLevel, createDate, enabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from joblevel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from joblevel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.ww.vhrserver.model.Joblevel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into joblevel (`name`, titleLevel, createDate, 
      enabled)
    values (#{name,jdbcType=VARCHAR}, #{titlelevel,jdbcType=OTHER}, #{createdate,jdbcType=TIMESTAMP}, 
      #{enabled,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.ww.vhrserver.model.Joblevel" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into joblevel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="titlelevel != null">
        titleLevel,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="titlelevel != null">
        #{titlelevel,jdbcType=OTHER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ww.vhrserver.model.Joblevel">
    <!--@mbg.generated-->
    update joblevel
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="titlelevel != null">
        titleLevel = #{titlelevel,jdbcType=OTHER},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ww.vhrserver.model.Joblevel">
    <!--@mbg.generated-->
    update joblevel
    set `name` = #{name,jdbcType=VARCHAR},
      titleLevel = #{titlelevel,jdbcType=OTHER},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      enabled = #{enabled,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>