<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ww.vhrserver.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="org.ww.vhrserver.model.Menu">
        <!--@mbg.generated-->
        <!--@Table menu-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="iconCls" jdbcType="VARCHAR" property="iconcls"/>
        <result column="keepAlive" jdbcType="BOOLEAN" property="keepalive"/>
        <result column="requireAuth" jdbcType="BOOLEAN" property="requireauth"/>
        <result column="parentId" jdbcType="INTEGER" property="parentid"/>
        <result column="enabled" jdbcType="BOOLEAN" property="enabled"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, url, `path`, component, `name`, iconCls, keepAlive, requireAuth, parentId, enabled
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from menu
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.ww.vhrserver.model.Menu"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into menu (url, `path`, component,
                          `name`, iconCls, keepAlive,
                          requireAuth, parentId, enabled)
        values (#{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR},
                #{name,jdbcType=VARCHAR}, #{iconcls,jdbcType=VARCHAR}, #{keepalive,jdbcType=BOOLEAN},
                #{requireauth,jdbcType=BOOLEAN}, #{parentid,jdbcType=INTEGER}, #{enabled,jdbcType=BOOLEAN})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.ww.vhrserver.model.Menu"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="url != null">
                url,
            </if>
            <if test="path != null">
                `path`,
            </if>
            <if test="component != null">
                component,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="iconcls != null">
                iconCls,
            </if>
            <if test="keepalive != null">
                keepAlive,
            </if>
            <if test="requireauth != null">
                requireAuth,
            </if>
            <if test="parentid != null">
                parentId,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                #{component,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="iconcls != null">
                #{iconcls,jdbcType=VARCHAR},
            </if>
            <if test="keepalive != null">
                #{keepalive,jdbcType=BOOLEAN},
            </if>
            <if test="requireauth != null">
                #{requireauth,jdbcType=BOOLEAN},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.ww.vhrserver.model.Menu">
        <!--@mbg.generated-->
        update menu
        <set>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                `path` = #{path,jdbcType=VARCHAR},
            </if>
            <if test="component != null">
                component = #{component,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="iconcls != null">
                iconCls = #{iconcls,jdbcType=VARCHAR},
            </if>
            <if test="keepalive != null">
                keepAlive = #{keepalive,jdbcType=BOOLEAN},
            </if>
            <if test="requireauth != null">
                requireAuth = #{requireauth,jdbcType=BOOLEAN},
            </if>
            <if test="parentid != null">
                parentId = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BOOLEAN},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.ww.vhrserver.model.Menu">
        <!--@mbg.generated-->
        update menu
        set url         = #{url,jdbcType=VARCHAR},
            `path`      = #{path,jdbcType=VARCHAR},
            component   = #{component,jdbcType=VARCHAR},
            `name`      = #{name,jdbcType=VARCHAR},
            iconCls     = #{iconcls,jdbcType=VARCHAR},
            keepAlive   = #{keepalive,jdbcType=BOOLEAN},
            requireAuth = #{requireauth,jdbcType=BOOLEAN},
            parentId    = #{parentid,jdbcType=INTEGER},
            enabled     = #{enabled,jdbcType=BOOLEAN}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <resultMap id="MenuWithChildren" type="org.ww.vhrserver.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="org.ww.vhrserver.model.Menu">
            <id column="id2" property="id" jdbcType="INTEGER"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="parentId2" property="parentid" jdbcType="INTEGER"/>
            <result column="enabled2" property="enabled" jdbcType="BIT"/>
        </collection>
    </resultMap>
    <select id="getMenusByHrid" resultMap="MenuWithChildren">
        SELECT m1.*,
               m2.`id`        AS id2,
               m2.`component` AS component2,
               m2.`enabled`   AS enabled2,
               m2.`name`      AS name2,
               m2.`parentId`  AS parentId2,
               m2.`path`      AS path2
        FROM menu m1
                     LEFT JOIN menu m2 ON m1.`id` = m2.`parentId`
                     LEFT JOIN menu_role mr ON m2.`id` = mr.`mid`
                     LEFT JOIN hr_role hrr ON mr.`rid` = hrr.`rid`
        WHERE hrr.`hrid` = #{hrid}
        order by m2.id
    </select>

    <resultMap id="MenuWithRole" type="org.ww.vhrserver.model.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="org.ww.vhrserver.model.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="namezh" column="rnameZh"/>
        </collection>
    </resultMap>
    <select id="getAllMenuWithRoles" resultMap="MenuWithRole">
        SELECT m.*, r.id AS rid, r.name AS rname, r.nameZh AS rnameZh
        FROM menu m
                     LEFT JOIN menu_role mr on m.id = mr.mid
                     LEFT JOIN role r on mr.rid = r.id
    </select>
</mapper>